body {
    margin: 0;
    padding: 100px;
    box-sizing: border-box;
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
    font-size: large;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}

h1 {
    font-weight: 700;
    margin-top: 150px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.output {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    font-size: 20px;
}

.alert {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    margin-bottom: 10px;
}
